absl-py==0.9.0
alembic==1.4.2
anyio==3.1.0
aplus==0.11.0
apturl==0.5.2
argon2-cffi==20.1.0
asn1crypto==0.24.0
astor==0.8.1
astropy==4.1
async-generator==1.10
attrs==20.1.0
azure-core==1.8.0
azure-storage-blob==12.4.0
b==1.0.0
Babel==2.4.0
backcall==0.2.0
beautifulsoup4==4.6.0
bleach==3.1.5
blinker==1.4
blis==0.4.1
boto==2.49.0
boto3==1.14.47
botocore==1.17.47
bqplot==0.12.26
branca==0.4.2
Brlapi==0.6.6
cachetools==4.2.2
catalogue==1.0.0
catboost==0.24
certifi==2020.6.20
cffi==1.14.2
chardet==3.0.4
click==7.1.2
click-plugins==1.0.2
cloudpickle==1.5.0
colorama==0.4.3
command-not-found==0.3
configparser==4.0.2
constants==0.6.0
contextvars==2.4
cryptography==3.0
csrgraph==0.1.28
cupshelpers==1.0
cycler==0.10.0
cymem==2.0.3
Cython==0.29.21
dask==2021.3.0
databricks-cli==0.11.0
dataclasses==0.8
datefinder==0.7.1
DateTime==4.3
decorator==4.4.2
defer==1.0.6
defusedxml==0.6.0
deid==0.2.24
distro-info===0.18ubuntu0.18.04.1
dlib==19.18.0
docker==4.3.1
docutils==0.15.2
docx==0.2.4
dpkt==1.9.7.2
dtw-python==1.1.6
eland==7.13.0b1
elasticsearch==7.15.0
elasticsearch-dsl==7.4.0
entrypoints==0.3
et-xmlfile==1.0.1
face-recognition==1.2.3
face-recognition-models==0.3.0
filelock==3.0.12
Flask==1.1.2
Flask-BabelEx==0.9.3
Flask-Gravatar==0.4.2
Flask-HTMLmin==1.3.2
Flask-Login==0.4.0
Flask-Mail==0.9.1
Flask-Migrate==2.1.1
Flask-Paranoid==0.2.0
Flask-Principal==0.4.0
Flask-Security==1.7.5
Flask-SQLAlchemy==2.1
Flask-WTF==0.14.2
frozendict==2.0.2
funcy==1.14
future==0.18.2
gast==0.3.3
gdown==3.10.1
gensim==3.8.3
gitdb==4.0.5
gitdb2==2.0.3
GitPython==3.1.7
google-api-core==1.26.3
google-api-python-client==2.3.0
google-auth==1.30.0
google-auth-httplib2==0.1.0
google-cloud-core==1.6.0
google-cloud-datastore==2.1.2
google-pasta==0.2.0
googleapis-common-protos==1.53.0
gorilla==0.3.0
graphviz==0.14.1
grpcio==1.30.0
gunicorn==20.0.4
h5py==2.10.0
hexdump==3.3
hmmlearn==0.2.2
html5lib==0.999999999
htmlmin==0.1.12
httplib2==0.19.1
idna==2.10
imbalanced-learn==0.7.0
immutables==0.15
importlib-metadata==1.7.0
imutils==0.5.3
iniconfig==1.0.1
install==1.3.3
ipydatawidgets==4.2.0
ipykernel==5.3.4
ipyleaflet==0.13.6
ipympl==0.7.0
ipython==7.16.1
ipython-genutils==0.2.0
ipyvolume==0.5.2
ipyvue==1.5.0
ipyvuetify==1.6.2
ipywebrtc==0.6.0
ipywidgets==7.6.3
isodate==0.6.0
itsdangerous==1.1.0
jedi==0.17.2
Jinja2==2.11.2
jmespath==0.10.0
joblib==0.16.0
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.6
jupyter-console==6.0.0
jupyter-core==4.6.3
jupyter-resource-usage==0.6.0
jupyter-server==1.8.0
jupyterlab-widgets==1.0.0
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
keras-tuner==1.0.1
keyboard==0.13.4
keyring==10.6.0
keyrings.alt==3.0
kiwisolver==1.2.0
kmodes==0.10.2
language-selector==0.1
launchpadlib==1.10.6
lazr.restfulclient==0.13.5
lazr.uri==1.0.3
libcst==0.3.18
lightgbm==2.3.1
llvmlite==0.34.0
louis==3.5.0
lxml==4.3.2
macaroonbakery==1.1.3
Mako==1.1.3
Markdown==3.2.2
MarkupSafe==1.1.1
matplotlib==3.3.1
mistune==0.8.4
mlflow==1.10.0
mlxtend==0.17.3
more-itertools==8.0.2
mpmath==1.2.1
msrest==0.6.18
murmurhash==1.0.2
mxnet==1.6.0
mypy-extensions==0.4.3
nbconvert==5.6.1
nbformat==5.0.7
neo4j==1.7.6
neobolt==1.7.15
neotime==1.7.4
nest-asyncio==1.5.1
netifaces==0.10.4
networkx==1.11
nltk==3.5
nmap==0.0.1
node2vec==0.4.3
nodevectors==0.1.23
notebook==6.1.3
numba==0.51.2
numexpr==2.7.1
numpy==1.19.3
oauth==1.0.1
oauth2client==3.0.0
oauthlib==3.1.0
odfpy==1.4.1
olefile==0.45.1
opencv-python==4.1.1.26
openpyxl==3.0.7
packaging==20.4
pandas==1.1.4
pandasticsearch==0.6.0
pandocfilters==1.4.2
paramiko==2.0.0
parsezeeklogs==2.0.1
parso==0.7.1
passlib==1.7.1
patsy==0.5.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.0.1
plac==1.1.3
plotly==4.9.0
pluggy==0.13.1
preshed==3.0.2
progressbar2==3.53.1
prometheus-client==0.8.0
prometheus-flask-exporter==0.15.4
prompt-toolkit==3.0.6
proto-plus==1.18.1
protobuf==3.13.0
psutil==5.8.0
psycopg2==2.8.4
ptyprocess==0.6.0
py==1.9.0
py-postgresql==1.2.1
py2neo==4.3.0
pyarrow==4.0.0
pyasn1==0.4.2
pyasn1-modules==0.2.8
pycairo==1.16.2
pycparser==2.20
pycrypto==2.6.1
pycups==1.9.73
pydicom==1.3.0
Pygments==2.6.1
PyGObject==3.26.1
pyinotify==0.9.6
pyLDAvis==2.1.2
pymacaroons==0.13.0
PyNaCl==1.1.2
PyOpenGL==3.1.0
pyOpenSSL==17.5.0
pyparsing==2.4.7
pypcap==1.2.3
pyqtgraph==0.10.0
pyRFC3339==1.0
pyrsistent==0.16.0
pyshark==0.4.3
PySocks==1.7.1
pytest==6.0.1
python-apt==1.6.5+ubuntu0.7
python-dateutil==2.8.1
python-debian==0.1.32
python-editor==1.0.4
python-evtx==0.7.4
python-speech-features==0.6
python-utils==2.5.6
pythreejs==2.3.0
pytz==2020.1
pyxdg==0.25
PyYAML==5.3.1
pyzmq==19.0.2
qtconsole==4.6.0
querystring-parser==1.2.4
regex==2020.7.14
reportlab==3.4.0
requests==2.24.0
requests-oauthlib==1.3.0
requests-unixsocket==0.1.5
retrying==1.3.3
rsa==4.7.2
s3transfer==0.3.3
scapy==2.4.5
scikit-learn==0.23.2
scipy==1.5.3
scour==0.36
screen-resolution-extra==0.0.0
seaborn==0.10.1
SecretStorage==2.3.1
selenium==3.141.0
semantic-version==2.3.1
Send2Trash==1.5.0
Shapely==1.7.1
simplejson==3.13.2
six==1.15.0
sklearn-som==1.0.1
slip==0.6.5
slip.dbus==0.6.5
smart-open==2.1.0
smaz-py3==1.0.1
smmap==3.0.4
smmap2==2.0.3
sniffio==1.2.0
som==0.2.3
somoclu==1.7.5.1
spacy==2.3.2
speedtest-cli==2.0.0
SQLAlchemy==1.3.13
sqlparse==0.3.1
srsly==1.0.2
ssh-import-id==5.7
sshtunnel==0.1.4
statsmodels==0.12.1
sympy==1.7.1
system-service==0.3
systemd-python==234
tables==3.6.1
tabulate==0.8.7
tangled-up-in-unicode==0.0.6
tensorboard==1.14.0
tensorflow==1.14.0
tensorflow-estimator==1.14.0
termcolor==1.1.0
terminado==0.8.3
terminaltables==3.1.0
testpath==0.4.4
thinc==7.4.1
threadpoolctl==2.1.0
toml==0.10.1
toolz==0.11.1
tornado==6.1
tqdm==4.49.0
traitlets==4.3.3
traittypes==0.2.1
tslearn==0.4.1
typing-extensions==3.10.0.0
typing-inspect==0.6.0
ubuntu-advantage-tools==27.4
ubuntu-drivers-common==0.0.0
ucrdtw==0.201
ufw==0.36
unattended-upgrades==0.1
uritemplate==3.0.1
urllib3==1.25.10
usb-creator==0.3.3
v==0.0.0
vaex==4.1.0
vaex-astro==0.8.0
vaex-core==4.1.0
vaex-hdf5==0.7.0
vaex-jupyter==0.6.0
vaex-ml==0.11.1
vaex-server==0.4.0
vaex-viz==0.5.0
validator.py==1.3.0
virtualenv==15.1.0
wadllib==1.3.2
wasabi==0.7.1
watchdog==2.1.6
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==0.57.0
Werkzeug==1.0.1
widgetsnbextension==3.5.1
wrapt==1.12.1
WTForms==2.1
xarray==0.16.2
xgboost==1.3.1
xkit==0.0.0
xlrd==2.0.1
XlsxWriter==1.3.4
xmltodict==0.12.0
yellowbrick==1.1
zat==0.4.4
zipp==1.0.0
zope.interface==5.1.0
